/* Palette of colors */
/* Maine page background color -  #FFF */
/* Secondary page background color - #F5F4FA */
/* Complementary page background color - #2F303A */
/* Maine text color - #757575 */
/* Secondary text color - #212121 */
/* Complementary text color - #FFF */
/* Accent text color - #2196F3 */
/* Individual color of some text in footer - rgba(255, 255, 255, 0.6) */

/* Create custom CSS properties to set Background and Text colors */
:root {
  --maine-background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --complementary-background-color: #2f303a;
  --maine-text-color: #757575;
  --secondary-text-color: #212121;
  --complementary-text-color: #fff;
  --accent-text-color: #2196f3;
  --individual-text-color: rgba(255, 255, 255, 0.6);
  --logo-dicor-color: #000;
  --portfolio-card-border-color: #eeeeee;
  --portfolio-card-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset indentation settings in a tag group */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

/* Service setting of geometry rules for all images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utility class for resetting settings lists*/
.list {
  list-style: none;
}

/* Utility class for resetting settings links &  adding an accent color on hover and focus of the corresponding links */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

/* Utility class that hides the display of headings from the user, but remains they visible to search engines */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Common body parameters of all site pages */
body {
  background: var(--maine-background-color);
  color: var(--maine-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

/* Website logo */
.logo {
  /* Geometri */
  display: inline-block;

  /* Text */
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-text-color);
}
.logo-second-half-head {
  /* Text */
  color: var(--logo-dicor-color);
  /* Geometri */
  display: inline-block;
  margin-right: 93px;
}
.logo-second-half-foot {
  /* Text */
  color: var(--complementary-text-color);
  /* Geometri */
  display: inline-block;
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid #ececec;

  /* Animation effect for 'header' while scrolling */
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: var(--maine-background-color);
}

/* General header options */
.header-container {
  /* Geometry */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Site navigation */
.page-nav {
  /* Geometry */
  display: flex;
  align-items: center;
}
/* Site navigation & Hed contacts*/
.nav-list,
.contacts-head-list {
  /* Geometry */
  display: flex;
}

.nav-list-itm:not(:last-child) {
  /* Geometry */
  margin-right: 50px;
}

.site-nav-link {
  /* Geometry */
  display: block;
  padding: 32px 0;

  /* Text */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  /* Animation execution options */
  transition: color 250ms var(--timing-function);
}

/* Utility class for simulating the display of the current position on site in the site menu */
.current-position {
  /* Position */
  position: relative;

  /* Decor */
  color: var(--accent-text-color);
}

.current-position::after {
  /* Position */
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.contacts-head-itm:not(:last-child) {
  /* Geometry */
  margin-right: 30px;
}

/* Contact information */
.contacts-head-link {
  /* Geometry */
  display: flex; /* ??? */
  align-items: center; /* ??? */

  /* Text */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--maine-text-color);

  /* for SVG icon with id: 'icon-envelope' & 'icon-smartphone'  */
  fill: currentColor;

  /* Animation execution options */
  transition: color 250ms var(--timing-function);
}

.contacts-head-text {
  /* Geometry */
  display: inline-block;
  margin-left: 10px;
}

.contacts-foot,
.contacts-map {
  /* Text */
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--individual-text-color);

  /* Animation execution options */
  transition: color 250ms var(--timing-function);
}

.contacts-map {
  /* Text */
  color: var(--complementary-text-color);
}

/* Підвал */
.footer {
  /* Geometry */
  padding-top: 60px;
  padding-bottom: 60px;

  /* Decor */
  background-color: var(--complementary-background-color);
}

.footer-container {
  /* Geometry */
  display: flex;
  align-items: flex-start;
}

.footer-start {
  /* Geometry */
  margin-right: 70px;
}

.footer-list {
  /* Geometry */
  display: flex;
  flex-direction: column;
}

.footer-list-item:not(:last-child) {
  /* Geometry */
  margin-bottom: 9px;
}

.footer-social-block {
  padding-top: 12px;
  margin-right: 93px;
}

.social-list {
  /* Geometry */
  display: flex;
  justify-content: center;
}

.social-list-title,
.subscription-title {
  /* Geometry */
  margin-bottom: 20px;

  /* Text */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--complementary-text-color);
}

.social-list-item:not(:last-child) {
  /* Geometry */
  margin-right: 10px;
}

.social-list-link {
  /* Icons location setting */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Link geometry */
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  /* for SVG icon with id: 'icon-instagram'; 'icon-twitter'; 'icon-facebook'; 'icon-linkedin; */
  fill: var(--complementary-text-color);

  /* Animation execution options */
  transition: background-color 250ms var(--timing-function);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-text-color);
}

.social-link-team {
  /* for SVG icon with id: 'icon-instagram'; 'icon-twitter'; 'icon-facebook'; 'icon-linkedin; */
  fill: #afb1b8;

  /* Animation execution options */
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.social-link-team:hover,
.social-link-team:focus {
  background-color: var(--accent-text-color);
  /* for SVG icon with id: 'icon-instagram'; 'icon-twitter'; 'icon-facebook'; 'icon-linkedin; */
  fill: #fff;
}

.footer-subscription-block {
  /* Geometry */
  padding-top: 12px;
}

.subscription-form {
  /* Geometry */
  display: flex;
  align-items: center;
}

.subscription-input {
  /* Geometry */
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  /* Text */
  color: rgba(255, 255, 255, 0.6);

  /* Decor */
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-input::placeholder {
  /* Text */
  font-size: 16px;
  line-height: 1, 25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  /* Geometry */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  /* Decor */
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  /* Animation execution options */
  transition: background-color 250ms var(--timing-function);
}

.subscription-btn-text {
  /* Geometry */
  display: block;
  margin-right: 10px;

  /* Text */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--complementary-text-color);
}

.subscription-btn:hover {
  background-color: #188ce8;
}

/* Шапка - "Hero" */
.hero {
  /* Geomeetry */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-height: 600px;
  max-width: 1600px;
  margin: 0 auto;

  /* Decor */
  background-color: #c4c4c4; /* + */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero_background_image_o.jpg); /* + */
  background-repeat: no-repeat; /* + */
  background-position: center; /* + */
  background-size: cover; /* ??? */
}
.hero-title {
  /* Geometry */
  margin-bottom: 30px;

  /* Text */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--complementary-text-color);
}

.herro-button {
  /* Button interactivity settings */
  cursor: pointer;

  /* Button geometry */
  display: inline-block;
  border: none;
  background: var(--accent-text-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;

  /* Button text */
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--complementary-text-color);

  /* Animation execution options */
  transition: background-color 250ms var(--timing-function);
}

/* Interactivity of changing the appearance of herro-button */
.herro-button:hover,
.herro-button:focus {
  background-color: #188ce8;
  border: none;
}

/* General settings for "sections" of all pages of the site */
.section-highlighted {
  /* Decor */
  background-color: var(--secondary-background-color);
}

.section-title {
  /* Geometry */
  margin-bottom: 50px; /* Bottom padding for h2 section headers */

  /* Text */
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

/* Geometri settings of the ".container" auxiliary class,
intended for centering and limiting the content of site elements in width. */
.container {
  /* Geometry */
  max-width: 1200px;
  padding: 94px 15px 94px 15px;
  margin: 0 auto 0 auto;
}

.container-vert-padding-none {
  /* Geometry */
  padding-top: 0;
  padding-bottom: 0;
}

.conteainer-peculiarities {
  padding-bottom: 47px;
}

/* Особливості - "Peculiarities", section on page index.html */
.peculiarities-list {
  /* Geometry */
  display: flex;
}

.peculiarities-list-itm {
  /* Geometry */
  max-width: 270px;
}
/* Cleaning up the geometry */
.peculiarities-list-itm:not(:last-child) {
  /* Geometry */
  margin-right: 30px;
}

/* Decorative background & location setting of icons with id: 'icon-antenna'; 'icon-clock'; 'icon-diagram'; 'icon-astronaut' */
.peculiarities-list-decor {
  /* Background geometry */
  display: flex; /* + */
  height: 120px; /* + */
  border-radius: 4px; /* + */
  margin-bottom: 30px; /* + */

  /* Icons location setting */
  justify-content: center; /* + */
  align-items: center; /* + */

  /* Background decoration */
  background-color: var(--secondary-background-color); /* + */
}

.peculiarities-list-title {
  /* Geometry */
  margin-bottom: 10px;

  /* Text */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.peculiarities-list-text {
  /* Text */
  font-size: 14px;
  line-height: 1.7;
}

/* Чим ми займаємося, section on page index.html */
.work-container {
  padding-top: 47px;
}

.work-list {
  /* Geometry */
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work-list-itm {
  /* Position */
  position: relative;
}

.work-list-label {
  /* Position */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  /* Geometry */
  padding: 27px 0;

  /* Decor */
  background: rgba(47, 48, 58, 0.8);
}

.work-list-label-litle {
  /* Text */
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--complementary-text-color);
}

/* Наша команда, section on page index.html */
.team-list {
  display: flex;
  justify-content: center;
}
.team-list-item {
  /* Geometry */
  text-align: center;
  padding-bottom: 30px;

  /* Decor */
  background: var(--complementary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  /* Geometry */
  margin-right: 30px;
}

.team-list-img {
  /* Geometry */
  margin-bottom: 30px;
}

.team-name {
  /* Geometry */
  margin-bottom: 10px;

  /* Text */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.team-position {
  /* Geometry */
  margin-bottom: 16px;

  /* Text */
  font-size: 16px;
  line-height: 1.2;
}

/* Постійні клієнти, section on page index.html */
.client-list {
  /* Geometry */
  display: flex;
}

.client-list-item:not(:last-child) {
  /* Geometry */
  margin-right: 30px;
}

.client-list-link {
  /* Icons location setting */
  display: flex;
  justify-content: center; /* + */
  align-items: center; /* + */

  /* Decor general setting */
  color: #afb1b8;

  /* Link geometry */
  width: 170px;
  height: 92px;
  border: 1px solid currentColor; /* + */
  border-radius: 4px;

  /* for SVG icon with id: 'icon-client_logo_1'...'icon-client_logo_6' */
  fill: currentColor;

  /* Animation execution options */
  transition: color 250ms var(--timing-function);
}

/* Setings of 'Modal-Window', in page index.html */
.backdrop {
  /* Position */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  /* Decor */
  background: rgba(0, 0, 0, 0.2);

  /* Animation effects */
  opacity: 1;

  /* Animation execution options */
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  /* Effects */
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  /* Animation execution options */
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-window {
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  /* Geometry */
  width: 528px;
  height: 581px;
  border-radius: 4px;
  padding: 40px;

  /* Decor */
  background-color: var(--maine-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* Animation execution options */
  transition: transform 350ms var(--timing-function), scale 350ms var(--timing-function);
}

.modal-window-close-btn {
  /* Position */
  position: absolute;
  top: 8px;
  right: 8px;

  /* Geometry */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  /* Decor */
  background: var(--maine-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;

  /* Effects */
  cursor: pointer;

  /* for SVG icon with id: 'icon-cloe-black-cross' */
  fill: currentColor;

  /* Animation execution options */
  transition: color 250ms var(--timing-function);
}

.modal-window-title {
  /* Geometry */
  margin-bottom: 12px;

  /* Text */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.form-field {
  /* Position */
  position: relative;

  /* Geometry */
  display: flex;
  flex-direction: column;
}
.form-label {
  /* Geometry */
  margin-bottom: 4px;

  /* Text */
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.form-input {
  /* Geometry */
  width: 100%;
  margin: 0;
  padding: 12px 15px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  /* Text */
  font-size: 12px;
  line-height: 1.2;

  /* Animation execution options */
  transition: border 250ms var(--timing-function);
}

.form-field:not(:first-child) {
  margin-top: 10px;
}

.form-icon {
  /* Position */
  position: absolute;
  top: 50%;
  left: 12px;

  /* Geometry */
  width: 20px;
  height: 20px;
  color: #212121;

  fill: currentColor;

  /* Animation execution options */
  transition: color 250ms var(--timing-function);
}

.form-input:focus {
  outline: 0;
  border: 1px solid var(--accent-text-color);
}

.form-input:focus ~ .form-icon {
  color: #2196f3;
}

.comment {
  /* Geometry */
  padding: 12px 16px;
  resize: none;

  /* Decor */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  /* Text */
  font-size: 12px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.comment::placeholder {
  /* Text */
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-check {
  /* Geometry */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;

  /* Text */
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

/* Custom checkbox style */
.checkbox-label {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.checkbox-input {
  /* visually-hidden */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-icon {
  /* Geometry */
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  /* Decor */
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-input:checked ~ .checkbox-icon {
  border: 2px solid var(--accent-text-color);
  background-color: var(--accent-text-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.checkbox-input:focus ~ .checkbox-icon {
  outline: 3px solid #000;
  border-color: var(--accent-text-color);
}

.checkbox-text {
  display: block;
}

.checkbox-link {
  display: block;
  color: var(--accent-text-color);
}

.form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  /* Animation execution options */
  transition: background-color 250ms var(--timing-function);
}

.form-btn:hover {
  background-color: #188ce8;
}

/* Наші роботи, section in 'main' on page portfolio.html */
/* Settings of filter buttons */
.portfolio-filter {
  /* Geometry */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-itm:not(:last-child) {
  /* Geometri */
  padding-right: 8px;
}

.portfolio-filter-button {
  /* Button geometry */
  display: block;
  border: 1px solid transparent;
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  /* Button text */
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  /* Button interactivity settings */
  cursor: pointer;

  /* Animation execution options */
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.first-portfolio-filter-button {
  /* Button geometry */
  padding: 6px 25px;
}

/* Rules for activating animation effects of an element with the ".portfolio-filter-button" class */
.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: var(--accent-text-color);
  color: var(--complementary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* General geometry parameters of the section with cards - portfolio */
.portfolio {
  /* Geometry */
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--portfolio-card-set-gap));
  margin-left: calc(-1 * var(--portfolio-card-set-gap));
}

.portfolio-itm {
  /* Geometry */
  flex-basis: calc(100% / 3 - var(--portfolio-card-set-gap));
  margin-top: var(--portfolio-card-set-gap);
  margin-left: var(--portfolio-card-set-gap);

  /* Animation execution options */
  transition: box-shadow 250ms var(--timing-function);
}
/* Rules for activating animation effects of an element with the ".portfolio-itm" class */
.portfolio-itm:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-itm:hover .portfolio-card-overlay,
.portfolio-itm:focus-within .portfolio-card-overlay {
  transform: translateY(0);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-card-content {
  /* Geometry */
  padding: 20px 24px;

  /* Decor */
  border-right: 1px solid var(--portfolio-card-border-color);
  border-left: 1px solid var(--portfolio-card-border-color);
  border-bottom: 1px solid var(--portfolio-card-border-color);
}

.portfolio-card-title {
  /* Geometry */
  margin-bottom: 4px;

  /* Text */
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-card-text {
  /* Text */
  font-size: 16px;
  line-height: 1.9;
  color: var(--maine-text-color);
}

.portfolio-card-tumb {
  /* Position */
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  /* Position */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Geometry */
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  /* Animation settings */
  transform: translateY(100%);

  /* Animation execution options */
  transition: transform 250ms var(--timing-function);
}

.portfolio-card-overlay-text {
  /* Text */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--complementary-text-color);
}
